body {
  overscroll-behavior-y: contain;
}

.parentCard {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.childCard {
  background-color: blue;
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70vh;
  height: 70vh;
  max-width: 500px;
  max-height: 500px;
  will-change: transform;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}
