* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  overflow: hidden;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  position: fixed;
}

.form-container {
  margin-left: 14em;
  width: 100%;
}

.header-container {
  margin-left: 3em;
  max-width: 450px;
}

.header-container h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 5em;
}

.deck-container {
  position: fixed;
  top: 22%;
  right: 48%;
}

#root {
  background: #f7f5f4;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.parentCard {
  position: absolute;
  width: 30em;
  height: 30em;
  will-change: transform;
}

.childCard {
  background-color: blue;
  background-color: white;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30em;
  height: 30em;
  will-change: transform;
  box-shadow: 0 12.5px 20px -6px rgba(50, 50, 73, 0.4), 0 10px 10px -2px rgba(50, 50, 73, 0.3);
  cursor: pointer;
}
